*.insyncdl
.git
.project
.pydevproject
.txt
*.pyc
*.log
*.exe
/secrets/instalacoes.pkl_backup
/secrets/chromedriver_85
download_backup.py
/__pycache__/
/downloads/
/venv/

Anotações/
calculo das perdas/
Projeto_classes_chaves/
Simulacao antiga/
*teste.c
indutores/
perdas/*.mat
perdas/BESS_bench_dc_dc_parallel_efficiency_calculation.plecs.autosave
perdas/__pycache__/
perdas/venv/

*/*.insyncdl
*/*/*.insyncdl
*.insyncdl
venv/
*.mat
perdas/Paralelo/surface_efficiency_map.py